.rd-modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 10;
  }

  .rd-modal {
    position: relative;
    width: 50%;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 3px solid #999;
    border-radius: 3px;
    margin: 20px auto;
    padding: 20px;
    color: black;
    text-align: center;
    line-height: 2;
  }

  .rd-modalExit-btn {
    font-size: 1.5rem;
    color: var(--primaryColor);
    background-color: var(--secondaryBackground);
    border: 1px solid var(--primaryColor);
    text-decoration: none;
    padding: 0.5rem 2.5rem;
    margin: 0.5rem;
  }
  .rd-modalExit-btn:hover {
    cursor: pointer;
  }